.especialidades-container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.especialidades-container h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #164032;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.especialidade-card {
  background: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

/* .especialidade-card:hover {
  transform: translateY(-5px);
} */

.especialidade-card img {
  width: 90%;
  height: 150px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 70px;
}

.especialidade-card h3 {
  font-size: 1.3rem;
  color: #164032;
  margin-top: -60px;
}

.especialidade-card p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
}