.especialidades-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
}

.title-especialidades h2 {
  margin-top: -30px;  
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #164032;
}

.nav-grid {
  width: 100%;
  max-width: 1300px;
  display: grid;
  /* Força o grid a ter exatamente duas colunas de tamanhos iguais (1fr cada) */
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.especialidade-card {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .especialidade-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
} */


.especialidade-card img {
  width: 90%;
  height: 150px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: -1px;
  margin-bottom: 70px;
}

.especialidade-card h3 {
  font-size: 1.1rem;
  color: #164032;
  margin-top: -60px;
}

.especialidade-card p {

  font-size: 1rem;
  line-height: 1.8;
}


/* Quando a tela for menor que 768px (tamanho padrão de celular/tablet) */
@media (max-width: 768px) {
  .nav-grid {
    grid-template-columns: 1fr; /* Volta para 1 coluna só */
    gap: 20px;
  }
}

/* ========================================
   MEDIA QUERY - ESPECIALIDADES RESPONSIVO
   ======================================== */

@media (max-width: 768px) {
  .title-especialidades h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .nav-grid {
    grid-template-columns: 1fr; /* Sua regra que já estava certa */
    gap: 15px;
  }

  .especialidade-card img {
    margin-bottom: 20px;
    height: 180px;
  }

  .especialidade-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}