.contato-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-container {
  display: flex;
  gap: 30px;
  width: 80%; 
  max-width: 750px; 
  background: rgba(255, 255, 255, 0.25);
  padding: -1px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  align-items: center;
  box-sizing: border-box;
}

.title-contato h2 {
  margin-top: -20px;  
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #164032;
}

.contato-coluna-esquerda {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.contato-foto {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  margin-left: 2em;
  border: 2px solid #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.whatsapp-btn {
  width: 50%;
  text-align: center;
  font-size: 0.95rem;
  background-color: #FFF;
  color: #164032;
  border: #cdcfcd solid 2px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 3em;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(37, 211, 102, 0.3);
  transition: background 0.3s;
}

.whatsapp-btn:hover {
  background-color: #399261;
  color:#FFF;
}

.contato-form-nav {
  flex: 1; 
  max-width: 500px;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.05);
  border: 2px solid #fff;
}

.contato-form-nav h3 {
  margin-top: 0.5em;
  margin-bottom: 5px;
  color: #164032;
  font-size: 1.3rem;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 15px;
}

.form-group label {
  margin-top: -10px;
  font-weight: 600;
  font-size: 0.85rem;
  color: #164032;
}

.form-group input, .form-group textarea {
  padding: 8px 12px;
  border: 1px solid rgba(46, 139, 87, 0.4);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 0.9rem;
  background-color: #FFF;
  color: #000000
}

.form-group textarea {
  resize: none;
}

.form-group input:focus, .form-group textarea:focus {
  outline: none;
  border-color: #6e9a82;
  background-color: #C2DBCD;
}

.envio-btn {
  background-color: #FFF;
  color: #164032;
  border: #cdcfcd solid 2px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 20%;
  transition: background 0.3s;
  font-size: 0.95rem;
  display: block;
  margin: 15px auto;
}

.envio-btn:focus,
.envio-btn:focus-visible{
  outline: none;
  border-color: #164032;
}

.envio-btn:hover {
  background-color: #399261;
  color:#FFF
}