.sobre-container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  gap: 20px;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  align-items: center;
  padding: 10px 10px;
}

.title-sobre h2 {
  margin-top: -20px;  
  margin-bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #164032;
}

.sobre-foto {
  display: flex;
  align-items: flex-end; /* Força a foto a encostar na base do card */
}

.sobre-foto img {
  width: 250px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.sobre-credenciais {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sobre-credenciais h2 {
  font-size: 1.5em;
  color: #164032;
}

.sobre-credenciais p {
  font-size: 1rem;
  margin: 1.5px;
}

.sobre-credenciais a{
  color:#164032
}

.sobre-credenciais a:hover{
  text-decoration: none;
  color:#fff;
  opacity: 0.8;
}

.sobre-texto {
  line-height: 1.6;
  margin-top: 10px !important;
}